<div id="page-wrapper">
    <div class="row col-lg-12">
        <h3 class="page-header text-center">Transactions</h3>
        <form class="form-inline text-center" role="form" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <select name="property" class="form-control" value="{$property}">
                        <option value="user_id">UserId</option>
                        <option value="amount">Amount</option>
                        <option value="Ref">Refernce</option>
                        <option value="live">Live</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="value" class="form-control" placeholder="Enter value" value="{$value}" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        {if($property == "user_id")}
        <span class="pull-right">
            <a href="/finance/makepayment/{$value}" target="_blank" class="btn btn-primary btn-xs"><i class="fa fa-inr"></i> Make Payment </a>&nbsp;
        </span>
        {/if}
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>Mode</th>
                        <th>Paid Amount</th>
                        <th>Ref Id</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $t in $transactions}
                    {script $user = User::first(array("id = ?" => $t->user_id), array("id", "name"))}
                    <tr>
                        <td>{$t->id}</td>
                        <td>{$user->id}</td>
                        <td>{$user->name}</td>
                        <td>
                            {if($t->live)}
                            <span class="label label-success">Transferred</span>
                            {/if} {else}
                            <span class="label label-info">Credit</span>
                            {/else}
                        </td>
                        <td>{$t->amount}</td>
                        <td>{$t->ref}</td>
                        <td>{$t->created}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <ul class="pager">
                {if($page != 1)}
                <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                {/if}
                {if($page < $count/$limit)}
                <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                {/if}
            </ul>
        </div>

    </div>
</div>