<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row col-lg-12">
            <h3 class="page-header text-center">Publisher GA Stats</h3>
            <form class="form-inline text-center" role="form" method="get" action="">
                <div class="form-group">
                    <label for="User id">User ID</label>
                    <div class="input-group">
                        <input type="text" name="user" class="form-control" placeholder="Enter value" value="{echo $user_id}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">From</label>
                        <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                        <input type="date" style="width: 200px" name="startdate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">To</label>
                        <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                        <input type="date" style="width: 200px" name="enddate" class="form-control" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <hr>
            <div class="panel panel-default">
                <table class="table">
                    {script $tpageviews = 0} {script $tsessions = 0}
                    {script $tbounceRate = 0} {script $count = 0}
                    {if !$all_data}
                    <thead>
                        <tr>
                            <th>Website</th>
                            <th>Website URL</th>
                            <th>Sessions</th>
                            <th>Bounce Rate</th>
                            <th>PageViews</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $websites = []}
                        {foreach $r in $records}
                        {if !property_exists($r, 'website_id')} {script continue} {/if}
                        {script $website = Website::first(["id = ?" => $r->website_id], ["name", "url"])}
                        <tr>
                            {if array_key_exists($r->website_id, $websites)}
                            {script continue}
                            {/if} {else}
                            {script $websites[$r->website_id] = 1}
                            {/else}
                            <td>{echo $website->name}</td>
                            <td>{echo $website->url}</td>
                            <td>{echo $r->sessions}</td>
                            <td>{echo $r->bounceRate}</td>
                            <td>{echo $r->pageviews}</td>
                            {script $tpagaeviews += (int) $r->pageviews}
                            {script $tsessions += (int) $r->sessions}
                            {script $tbounceRate += round($r->bounceRate)}
                            {script $count++}
                        </tr>
                        {/foreach}
                    {/if} {else}
                    <thead>
                        <tr>
                            <th>Publisher</th>
                            <th>Sessions</th>
                            <th>Pageviews</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $users in $publishers}
                        {script $sessions = 0} {script $pageviews = 0}
                            {foreach $u in $users}
                            {script $sessions += $u['sessions']} {script $pageviews += $u['pageviews']}
                            {/foreach}
                        <tr>
                            <td>{echo $users_i}</td>
                            <td>{echo $sessions}</td>
                            <td>{echo $pageviews}</td>
                        </tr>
                        {script $tsessions += $sessions} {script $tpageviews += $pageviews}
                        {/foreach}
                    {/else}
                        <tr>
                            <th>Platform Clicks</th>
                            <th>Total Sessions</th>
                            {if !$all_data}
                            <th>Average BounceRate</th>
                            {/if}
                            <th>Total PageViews</th>
                        </tr>
                        <tr>
                            <td>{echo $totalClicks}</td>
                            <td>{echo $tsessions}</td>
                            {if $count == 0} {script $count = 1} {/if}
                            {if !$all_data}
                            <td>{echo $tbounceRate / $count}</td>
                            {/if}
                            <td>{echo $tpageviews}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>