<div class="page-title">
    <span class="title">Link Stats</span>
    <div class="description">Tracking links you have created, found <b>{echo $count}</b> Links</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="text-center card-action">
                    <form class="form-inline" role="form" method="get" action="">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only">Link</label>
                                <span class="add-on input-group-addon"><i class="fa fa-link fa-fw"></i> Link</span>
                                <input type="url" style="width: 200px" name="short" class="form-control" required="" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="clear-both"></div>
            </div>
            {if($links)}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Link</th>
                            <th>Stats</th>
                            {if ($fb)}
                            <th>FB Stats</th>
                            {/if}
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $link in $links}
                        {script $item = Item::first(array("id = ?" => $link->item_id), array("title", "url", "image"))}
                        {script $stat = Stat::first(array("link_id = ?" => $link->id), array("amount", "click", "rpm", "modified"))}
                        <tr>
                            <td>
                                <a href="/public/assets/uploads/images/{$item->image}" target="_blank"><img src="/campaign/resize/{echo base64_encode($item->image)}/50/50"></a><br>
                            </td>
                            <td>
                                <a href="{$item->url}" target="_blank">{$item->title}</a><br>
                                <a href="{$link->short}" class="fbshare">{$link->short}</a><br>
                                <small>{echo Framework\StringMethods::datetime_to_text($link->created)}</small>
                            </td>
                            <td class="linkstat" data-link="{echo $link->id}">
                                {if($stat)}
                                RPM : {echo $user->convert($stat->rpm)}, Sessions : {echo $stat->click}, Earning : {echo $user->convert($stat->amount)}
                                {/if} {else}
                                <span class="label label-success">View</span>
                                {/else}
                            </td>
                            {if ($fb)}
                            <td class="fbLinkStat" data-link="{echo $link->id}">
                                <span class="label label-primary">View</span>
                            </td>
                            {/if}
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            {/if} {else}
            <div class="card-body"><p class="text-center">No Links Found.</p></div>
            {/else}
        </div>

        <div class="text-center">
            <ul class="pager">
                {if($page != 1)}
                <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                {/if}
                {if($page < $count/$limit)}
                <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                {/if}
            </ul>
        </div>
        
    </div>
</div>