<div class="page-title">
    <span class="title">Payments</span>
    <div class="description">For any payments related issue leave us a message below</div>
</div>
<div class="row">
    
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Ref</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $t in $transactions}
                        <tr>
                            <td>{$t->id}</td>
                            <td>{$t->ref}</td>
                            <td>{echo $user->convert($t->amount)}</td>
                            <td>
                                {if($t->live)}
                                <span class="label label-success">Transferred</span>
                                {/if} {else}
                                <span class="label label-info">Credit</span>
                                {/else}
                            </td>
                            <td>{echo Framework\StringMethods::only_date($t->created)}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center">
            <ul class="pager">
                {if($page != 1)}
                <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                {/if}
                {if($page < $count/$limit)}
                <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                {/if}
            </ul>
        </div>
    </div>
</div>
