<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/index.html">
            <i class="fa fa-user-secret fa-lg"></i> Admin Panel
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {echo $user->name}  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/publisher/index.html"><i class="fa fa-lightbulb-o fa-fw"></i> Publisher</a></li>
                <li><a href="/advertiser/index.html"><i class="fa fa-bullhorn fa-fw"></i> Advertiser</a></li>
                <li class="divider"></li>
                <li><a href="/logout.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li><a href="/admin/index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li><a href="/admin/search.html"><i class="fa fa-search fa-fw"></i> Search</a></li>
            <li>
                <a href="#"><i class="fa fa-area-chart fa-fw"></i> Analytics<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/admin/dataAnalysis.html">Data Analysis</a></li>
                    <li><a href="/analytics/clicks.html">Clicks</a></li>
                    <li><a href="/analytics/publisher.html">Google Analytics (Publisher)</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-money fa-fw"></i> Finance<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/finance/payouts.html">Payouts</a></li>
                    <li><a href="/finance/transactions.html">Transactions</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bookmark fa-fw"></i> Management<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/manage/domains.html">Domains</a></li>
                    <li><a href="/campaign/all.html">Campaigns</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-support fa-fw"></i> Support<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/manage/publishers.html">Publishers</a></li>
                    <li><a href="/manage/advertisers.html">Advertisers</a></li>
                    <li><a href="/manage/news.html">News</a></li>
                    <li><a href="/support/manageticket.html">Support Tickets</a></li>
                    <li><a href="/auth/randomtext.json">Random Text</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/manage/rates.html">Rates</a></li>
                    <li><a href="/analytics/logs.html">Logs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>