<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
                <li class="active">Clicks99</li>
            </ol>
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-th icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
            {if(isset($admin))}
            <li class="primary"><a href="/admin/index.html"><i class="fa fa-user-secret"></i> Admin</a></li>
            {/if}
            <li><a href="/campaign/fetch.html"><i class="fa fa-bullhorn"></i> Create Campaign</a></li>
            <li class="dropdown info">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {echo $user->name} (ID: {echo $user->id})</a>
                <ul class="dropdown-menu danger  animated fadeInDown">
                    <li>
                        <ul class="list-group notifications">
                            <a href="/advertiser/settings.html">
                                <li class="list-group-item"><i class="fa fa-user icon"></i> Profile</li>
                            </a>
                            <a href="/advertiser/platforms.html">
                                <li class="list-group-item"><i class="fa fa-tablet icon"></i> Platforms</li>
                            </a>
                            <a href="/auth/logout.html">
                                <li class="list-group-item"><i class="fa fa-power-off icon"></i> Logout</li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/advertiser/index.html">
                    <div class="icon fa fa-connectdevelop"></div>
                    <div class="title">Advertiser</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/advertiser/index.html"><span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span></a></li>
                <li><a href="/campaign/manage.html"><span class="icon fa fa-bullhorn"></span><span class="title">Campaigns</span></a></li>
                <li><a href="/advertiser/transactions.html"><span class="icon fa fa-credit-card-alt"></span><span class="title">Transactions</span></a></li>
                <li><a href="/support/advertiser.html"><span class="icon fa fa-support"></span><span class="title">Support</span></a></li>
                <li><a href="https://www.facebook.com/groups/1272821529410939/" target="_blank"><span class="icon fa fa-facebook-square"></span><span class="title">Join Group</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
