Hello {$user->name},

With our advertising programs we strive to create an online ecosystem that benefits publishers, advertisers, and users. For this reason we sometimes have to take action against accounts that show behaviour towards users or advertisers that may negatively impact our ecosystem is perceived. in your case we have detected invalid activity on your clicks99 account as a result it has been suspended.

We are limited in the amount of information we can provide about your specific violation. We understand that you may want more information about your account activity. However, in order to protect our proprietary detection systems, we are unable to provide further details.

In some cases publishers can make significant changes to correct the violation and are willing to comply with Clicks99 policies. For this reason we offer an appeal process as an opportunity to work with you to resolve the issue.

Sincerely,
Clicks99 Team
http://clicks99.com