Hi, 
{$user->username}

Congratulations! Your account has been successfully activated.
Now login at: http://Clicks99.com/auth/login and start earning.

Follow the below guideline to avoid your account suspension:
- Don’t use adult tag line or mislead to audience.
- Don’t change the thumbnail of post.
- Don’t Post the link in forum websites.
- Don’t do any type of spamming like excessive mentioning, tagging or running script similar like this.
- Don’t post the link on your social profile.
- Don’t Try to provide traffic by self clicking or using script for the same.
- Don’t share the link in facebook groups and comment section of facebook posts.
- Don’t send the bot traffic using other websites.

To understand in details, Read FAQs: http://Clicks99.com
If still you have a query then mail us on: info@Clicks99.com

Happy sharing!

Regards,
Clicks99 Team
http://clicks99.com