<div class="modal fade" id="addCredit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="" id="addmoney">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Credit to your account</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Amount (INR)</label>
                    <input type="number" name="amount" min="10000" class="form-control" placeholder="Enter Amount greater than Rs. 10,000">
                </div>
            </div>
            <div class="modal-footer">
            	<input type="hidden" name="action" value="credit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Pay</button>
            </div>
        </form>
    </div>
</div>
