<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clicks99 Publisher Control Panel">
    <meta name="author" content="CloudStuff.Tech">
    
    <title>{echo $seo->getTitle()}</title>
    <link rel="icon" href="/public/assets/images/favicon.ico">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    
    <link rel="stylesheet" type="text/css" href="/public/assets/css/publisher-1.0.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body class="flat-blue">

    <div class="app-container">
        <div class="row content-container">
            {include layouts/navigation/publisher.html}
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    {ayield action}
                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">@Developed By <a href="http://cloudstuff.tech" target="_blank">CloudStuff.Tech</a></span> &copy; 2015-{echo date("Y")} Copyright.
            </div>
        </footer>
    <div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script type="text/javascript" src="{echo CDN}plugins/bootstrap/tooltip.js"></script>
    
    <!-- Javascript -->
    <script type="text/javascript" src="/public/assets/js/facebook-1.4.js"></script>
    <script type="text/javascript" src="/public/assets/js/publisher-1.7.js"></script>
</body>

</html>
