{include layouts/modal/genlink.html}
{include layouts/modal/fbpages.html}
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline page-header text-center" role="form" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Title</label>
                    <input type="text" style="width: 300px" name="title" class="form-control" placeholder="Search here..." value="{$title}" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="row">
        {script $i=0}
        {foreach $item in $items} {script $i++}
        {if(!is_float($i/3))}<div class="row">{/if}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                {script $track = "?utm_source=". $user->id ."&amp;utm_medium=Clicks99&amp;utm_campaign=".$item->title."&amp;utm_term=".$user->id."&utm_content=".$item->title}
                <a href="{echo $item->url.$track}" target="_blank"><img src="/campaign/resize/{echo base64_encode($item->image)}" class="img-responsive" alt="{echo $item->title}" height="240"></a>
                <div class="panel-body">
                    <a href="{echo $item->url.$track}" target="_blank">{echo $item->title}</a>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control shorturl">
                            </td>
                            <td>
                                <button class="btn btn-success shortenURL" data-item="{echo $item->id}" data-title="{echo $item->title}"><i class="fa fa-link"></i> Generate Link</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {if(!is_float($i/3))}</div>{/if}
        {/foreach}
    </div>
    <div class="text-center">
        <ul class="pager">
            {if($page != 1)}
            <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
            {/if}
            {if($page < $count/$limit)}
            <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
            {/if}
        </ul>
    </div>
</div>
