<div class="container-fluid app-content-a" style="padding-top: 80px;">
    <div class="side-body container">
        <div class="page-title">
            <span class="title">Frequently Asked Questions (FAQs)</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <b>What is Clicks99 AdNetwork?</b><br>
                        Clicks99 is a stage which empowers online networking distributers and social influencers to adapt from their resources. Distributers can begin driving applicable movement to different sites, application or video utilizing the clicks99 distributer stage and monetize on a per click basis.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                        <b>Who can Join?</b><br>
                        If you have a facebook page, or a twitter handle with good amount of follower base then you can request to join Clicks99.... Minimum Facebook page likes - 100k.It should follow our quality guidelines. Any social media property related to adult or gambling will not be approved.
                    </div>
                </div><br>

				<div class="card">
                    <div class="card-body">
                    	<b>How much is the RPM and how much I can earn from Clicks99?</b><br>
                    	We are paying 135 per 1000 Indian clicks. 220 Rs Per 1000 Us Uk Au Ca Clicks And Other Country 80 rs Per 1000 Clicks, it also changes from time to time and is different for every content.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                    	<b>What is the payment method?</b><br>
                    	We pay via IMPS and PayTm (India) and Paypal (Worldwide) only.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                    	<b>What is the Minimum Payout Amount?</b><br>
                    	Minimum payout is Rs 2500 
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                    	<b>How Payment Cycle works?</b><br>
                    	We have Weekly payment cycle. We pay on every Monday (Payment Earning is Counted Sunday night)
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                    	<b>I registered on Clicks99. and it is showing that your account is Inactive?</b><br>
                    	Our team will review it within 12 hours. After the Review it will be activated if all information you entered is correct.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                    	<b>Can I have more than one account?</b><br>
                    	No, you can't have more than one account . It is strictly prohibited.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                    	<b>Why is my account suspended?</b><br>
						The reason of your account suspension can be:
						<ul>
							<li>Using adult tagline/By changing the thumbnail of post.It misleads the traffic.</li>
							<li>Posting the link in forum websites.</li>
							<li>Doing any type of spamming.</li>
							<li>Sharing the link on facebook groups and in comment section of posts.</li>
							<li>Sending the bot traffic using other websites.</li>
							<li>high Bounce Rate</li>
						</ul>
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                    	Saturday & Sunday is our off day but we will try our best to give you support on holiday also
                    </div>
                </div><br>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
$("nav").css("background-color", "#353d47");
</script>