<div class="jumbotron app-header">
    <div class="container">
        <h2 class="text-center"><i class="app-logo fa fa-connectdevelop fa-5x color-white"></i><div class="color-white">PERFORMANCE ENGAGEMENT AUDIENCES</div></h2>
        <p class="text-center color-white app-description">Create Compelling Brand Experiences, Optimize ad effectivenes based upon a deeper understanding of users</p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg app-btn" href="/publisher/register.html"><i class="fa fa-money"></i> Monetize Now</a>
            <a class="btn btn-primary btn-lg app-btn" href="/advertiser/register.html"><i class="fa fa-bullhorn"></i> Advertise Now</a>
        </p>
    </div>
</div>
<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-lightbulb-o fa-stack-1x"></i>
                </span>
                <h2>For Page Owners</h2>
                <h4>We help Publishers maximize the value of their digital media assets at global scale.</h4>
                <p>
                    <a class="btn btn-primary btn-lg app-btn" href="/publisher/register.html" role="button">Monetize Audiences</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-6 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-bullhorn fa-stack-1x"></i>
                </span>
                <h2>For Content Creators</h2>
                <h4>We help brands transform the way they interact with audiences across desktop and mobile.</h4>
                <p>
                    <a class="btn btn-primary btn-lg app-btn" href="/publisher/register.html" role="button">Drive Traffic to your Site</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid app-content-b feature-1">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <img src="{echo CDN}images/publisher.png" class="img-responsive">
            </div>
            <div class="col-md-5 col-sm-6 text-right">
                <h2 class="featurette-heading">PUBLISHERS</h2>
                <p class="lead">MAXIMIZE YOUR REVENUE WITH A PROVEN PARTNER</p>
                <p class="lead">HIGH REVENUE & GLOBAL COVERAGE</p>
                <p class="lead">REAL-TIME STATISTICS</p>
                <p class="lead">ON-TIME PAYMENTS</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid app-content-b feature-1">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 text-left">
                <h2 class="featurette-heading">ADVERTISERS</h2>
                <p class="lead">ROI-BASED CAMPAIGNS</p>
                <p class="lead">SMART TARGETING</p>
                <p class="lead">REAL-TIME DATA</p>
                <p class="lead">EFFECTIVE MULTIPLE FORMATS</p>
            </div>
            <div class="col-md-7 col-sm-6">
                <img src="{echo CDN}images/publisher.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
</script>