<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Refunds Policy</h1>
                <p>You are entitled to request for a refund in the following cases:</p>
                <ol type="1">
                    <li>Incorrect payment transaction.</li>
                    <li>You have spent for Clicks99 services less than you have prepaid. In such a case you are entitled to ask for a refund within 30 days after the termination of the Contract. Before refunding, Clicks99 will have to finalize all not invoiced spending and make necessary adjustments where needed. After finalizing all current statistics, your unused balance will be refunded to you at your request, minus an administrative fee of 25% to cover Clicks99’s costs and fees related with the management of giving a refund, within 30 working days. YOUR REFUND WILL BE CREDITED BACK TO THE SAME PAYMENT METHOD AND SAME PAYMENT ACCOUNT THAT YOU USED TO MAKE YOUR LAST PAYMENT. You may be required to provide additional information or documentation in order for Clicks99 to confirm your identity, before any refund request is processed.</li>
                    <li>Actions forming the basis of the pricing model of your Campaign are based on a Publisher’s fraudulent activities (i.e. the artificial increase of actions). In order to detect and prove Publishers’ fraudulent activities you undertake to send to Clicks99 Network a weekly detailed report of sources/websites you consider to be fraudulent. In case the Publisher’s fraudulent activities cannot be clearly identified based on your report, Clicks99 Network is entitled to request additional proof from you. If you fail to submit a weekly report or additional proof regarding the Publishers’ fraudulent activities, Clicks99 may refuse to give a refund and adjust your balance accordingly. In case you are using post-payment method and you are able to prove Publishers’ fraudulent activities pursuant to this clause, Clicks99 will not invoice you for the agreed actions based on Publisher’s fraudulent activities.</li>
                </ol>
                <b>PLEASE BE AWARE THAT IF YOUR CONTRACT WITH Clicks99 NETWORK IS TERMINATED DUE TO THE VIOLATION OF CONTRACT BY YOU (E.G. DUE TO YOUR FRAUDULENT ACTIVITY), Clicks99 NETWORK IS ENTITLED TO A CONTRACTUAL PENALTY IN THE AMOUNT OF YOUR UNUSED BALANCE AND THEREFORE.</b>
           </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
$("nav").css("background-color", "#353d47");
</script>