<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Terms of Service</h1>
                <p>The following are the Terms and Conditions for participation in the AdsTerra advertising Program (herein referred to as “the Program” or “we”). As used in this agreement, “you” or “your” means the applicant/webmaster/publisher.</p>
                <p>THIS IS A LEGAL AGREEMENT BETWEEN YOU AND CLICKS99.COM. BY PARTICIPATING IN THE PROGRAM, YOU ACKNOWLEDGE THAT YOU ARE AT LEAST 18 YEARS OF AGE AND THAT YOU HAVE READ, ACCEPTED AND ARE BOUND BY ALL OF THE TERMS, CONDITIONS, PROMISES, WARRANTIES, DUTIES AND OBLIGATIONS SET FORTH IN THIS AGREEMENT.</p>
                <ol>
                    <li>You must be at least eighteen (18) years of age or the legal age in your jurisdiction to participate in the Program.</li>
                    <li>In order to participate, you must register by submitting an application with CORRECT information via our website. We may choose to decline your application should we find any of the information and/or your website unsuitable for any reason.</li>
                    <li>You may not artificially inflate traffic counts using (including but not limited to) a device, program or robot.</li>
                    <li>We reserve the right to refuse your participation in the Program for any reason.</li>
                    <li>All visitors you send to us must come from a web page. We do not allow news group postings with links to our web sites nor do we allow you to link to our web sites from the body of an email message. We don’t allow to promote our websites by email campaigns.</li>
                    <li>All surfers sent to the Program’s site(s) must be in a full size window with toolbars, location, scroll bars, etc. It must be a regular window unaltered. Our sites MAY NOT be opened or loaded in a FRAME.</li>
                    <li>The following are examples (including but not limited to) of the type of sites or applications that are not allowed to participate in the Program:</li>
                    <ol>
                        <li>Hacking or Phreaking</li>
                        <li>Software Pirating (for example Warez)</li>
                        <li>Pornographic content</li>
                        <li>Containing or linking to any form of illegal activity (for example how to make drugs)</li>
                        <li>Racial, ethnic, political, hate-mongering or otherwise objectionable content</li>
                        <li>Material that defames, abuses, or threatens physical harm to others</li>
                        <li>Inappropriate newsgroup postings, chat or forum abuse, unsolicited e-mail (SPAM)</li>
                        <li>Any illegal activity whatsoever</li>
                    </ol>
                    <li>You are not allowed to alter the linkcodes, or use illegal/false advertising.</li>
                    <li>You are responsible to keep your information on-file accurate for proper notifications.</li>
                    <li>You may only hold one account with the Program. But you can have more than one website in your account.</li>
                    <li>Publisher payments are processed 2 times a month on 1st and 16th. Payments are usually processed from 8 am till 5 pm GMT.</li>
                    <li>You agree if you are in violation of this agreement, all commissions shall be forfeited. No commission shall be paid for traffic deemed as fraudulent, at the sole and exclusive discretion of the Program’s administration.</li>
                    <li>Commissions for each Period are paid 15 days after the end of the Period. Should any designated payout day fall on a non business working day, the payout is postponed until the next business working day.</li>
                    <li>Commissions for a period that do not meet our minimum of $100.00 or your set minimum payout (must be over $100) will roll-over and be credited toward the next period until such minimum is met.</li>
                    <li>You acknowledge that there will be certain fees pertaining to payment processing and shipping fees such as fees for wire transfers ($45).</li>
                    <li>The Program reserves the right to terminate any account that we believe violates one of our rules or that has very low conversion ratios.</li>
                    <li>CLICKS99 Network reserves the right to request any form of ID (Passport) with your photo for verification purposes.</li>
                    <li>The Program will not be held liable for any loss due to server downtime, network downtime, packet loss, net traffic problems, disasters, acts of government, strike, lock-out, communication line or power failures, inoperability or destruction of the Site or its components. The Program shall do everything in its power to maintain the highest standard of availability of its system.</li>
                    <li>The Program grants a limited nonexclusive, nontransferable and revocable license to use the Program and the websites/products’ trademark names, service marks, logos, and to access, download and use promotional banner hypertext links, video, sound, photo content and any other form of intellectual property provided by the Program, on your website(s) for the exclusive purpose of advertising, marketing or promoting ONLY the websites and products of the Program; however, the license herein granted shall automatically and immediately cease upon the termination or breach of any term in this agreement. You may not copy, reproduce, alter, modify, change, broadcast, distribute, transmit, disseminate, sell or offer for sale the materials, in any manner, anywhere in the world, without the express written consent of the Program. You are not allowed to remove, obstruct or make any change to the watermarks on the promotional materials, photographs, screenshots and videos.</li>
                    <li>The Program reserves the right to modify any part of this agreement at anytime without prior notice. Upon modification, you will be informed by email, writing or by an informational text on the Program’s website. Should you choose to not accept the amendments, the only action you can take is to terminate your account and have all outstanding commission paid to you. Continued participation in the Program and/or no action shall mean that you have accepted the modifications to the agreement. All modifications shall become active 24 hours after the modifications and notice have been completed.</li>
                    <li>This Agreement shall commence upon your acceptance and remain in effect until terminated. This Agreement may be terminated by either Party upon 24 hoursnotice. This Agreement shall terminate immediately upon the dissolution or insolvency of either Party. We reserve the right to terminate any campaign and remove any advertisements at any time for any reason.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
$("nav").css("background-color", "#353d47");
</script>