<option></option>
<option value="SBI">State Bank of India</option>
<option value="HDFC">HDFC Bank</option>
<option value="CITI">Citibank</option>
<option value="ICICI">ICICI Bank</option>
<option value="AXIS">Axis Bank</option>
<option value="PNB">Punjab National Bank</option>
<option value="KOTAK">Kotak Bank</option>
<option value="ANDHRA">Andhra Bank</option>
<option value="BBK">Bank of Bahrain and Kuwait</option>
<option value="BOB">Bank of Baroda</option>
<option value="BOI">Bank of India</option>
<option value="BOM">Bank of Maharashtra</option>
<option value="CANARA">Canara Bank</option>
<option value="CSB">Catholic Syrian Bank</option>
<option value="CBI">Central Bank of India</option>
<option value="CITIUB">City Union Bank</option>
<option value="CORP">Corporation Bank</option>
<option value="COSMOS">Cosmos Bank</option>
<option value="DEUTS">Deutsche Bank</option>
<option value="DBSP">Development BankSingapore</option>
<option value="DCB">DCB Bank Personal</option>
<option value="DENA">Dena Bank</option>
<option value="FDEB">Federal Bank</option>
<option value="IDBI">IDBI Bank</option>
<option value="INDB">Indian Bank</option>
<option value="IOB">Indian Overseas Bank</option>
<option value="INDS">IndusInd Bank</option>
<option value="ING">ING Vysya Bank (now Kotak)</option>
<option value="JKB">Jammu and Kashmir Bank</option>
<option value="KTKB">Karnataka Bank</option>
<option value="KVB">Karur Vysya Bank</option>
<option value="LVB">Lakshmi Vilas Bank</option>
<option value="OBPRF">Oriental Bank of Commerce</option>
<option value="PAYCC">Pay Cash Card</option>
<option value="SVB">Shamrao Vithal Bank</option>
<option value="STB">Saraswat Bank</option>
<option value="SIB">South Indian Bank</option>
<option value="SCB">Standard Chartered Bank</option>
<option value="SBJ">State Bank of Bikaner and Jaipur</option>
<option value="SBH">State Bank Of Hyderabad</option>
<option value="SBM">State Bank of Mysore</option>
<option value="SBOP">State Bank of Patiala</option>
<option value="SBT">State Bank of Travancore</option>
<option value="SYNBK">Syndicate Bank</option>
<option value="TNMB">Tamilnad Mercantile Bank</option>
<option value="UNI">Union Bank of India</option>
<option value="UBI">United Bank of India</option>
<option value="VJYA">Vijaya Bank</option>
<option value="YES">Yes Bank</option>
<option value="UCO">UCO Bank</option>
<option value="PSB">Punjab and Sind Bank</option>
