<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="container">
    <div class="login-box">
        {if(isset($message))}<div class="alert fresh-color alert-info" role="alert">{echo $message}</div>{/if}
        <div>
            <div class="login-form row">
                <div class="col-sm-12 text-center login-header">
                    <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                    <h4 class="login-title">Clicks99</h4>
                </div>
                <div class="col-sm-12">
                    <div class="login-body">
                        <form method="post" action="">
                            <div class="control">
                                <input type="password" name="password" class="form-control" placeholder="New Password" required="" />
                            </div>
                            <div class="control">
                                <input type="password" name="cpassword" class="form-control" placeholder="Repeat Password" required="" />
                            </div>
                            <div class="control">
                                <div class="g-recaptcha" data-sitekey="6LfRZRQTAAAAAKoXl7SMjl-siLfIRjN_8ZZMlpUC"></div>
                            </div>
                            <div class="login-button text-center">
                                <input type="hidden" name="action" value="change">
                                <input type="submit" class="btn btn-primary" value="Reset">
                            </div>
                        </form>
                    </div>
                    <div class="login-footer">
                        <span class="text-right"><a href="/auth/forgotpassword.html" class="color-white">Forgot password</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("body").addClass("login-page");
    $("nav").remove();
    $(document).ready(function() {
        $("footer").remove();
    });
</script>