<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row col-lg-12">
            <h3 class="page-header text-center">Advertisers</h3>
            <form class="form-inline text-center" role="form" method="get" action="">
                <div class="form-group">
                    <div class="input-group">
                        <select name="property" class="form-control" value="{$property}">
                            <option value="user_id">UserId</option>
                            <option value="live">Live</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="value" class="form-control" placeholder="Enter value" value="{$value}" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <hr>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Modified</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $advert in $advertisers}
                        {script $user= User::first(array("id = ?" => $advert->user_id), array("id","name", "modified", "live"))}
                        <tr>
                            <td>
                                {if($user->live)}
                                <span class="text-success">{$user->id}</span>
                                {/if} {else}
                                <span class="text-danger">{$user->id}</span>
                                {/else}
                            </td>
                            <td><a href="/admin/update/user/{$user->id}">{echo $user->name}</a></td>
                            <td><small>{echo Framework\StringMethods::datetime_to_text($user->modified)}</small></td>
                            <td>{echo $user->convert($advert->balance)}</td>
                            <td>
                                <small>
                                    {if($advert->live == 0)}
                                        <a href="/manage/validity/advert/{$user->id}/1" class="btn btn-primary btn-xs"><i class="fa fa-check"></i></a>&nbsp;
                                    {/if}
                                    {else}
                                        <a href="/manage/validity/advert/{$user->id}/0" class="btn btn-warning btn-xs"><i class="fa fa-ban"></i></a>&nbsp;
                                    {/else}
                                    <a href="/manage/delete/{$user->id}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                    <a href="/admin/update/advert/{$advert->id}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i></a>
                                    <a href="/admin/search.html?model=platform&amp;key=user_id&amp;sign=equal&amp;value={$user->id}" class="btn btn-default btn-xs"><i class="fa fa-tablet"></i> Platforms</a>
                                    <a href="/finance/pending.html?user_id={$user->id}" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-credit-card-alt"></i> Transactions</a>&nbsp;
                                    <a href="/support/manageticket.html?property=user_id&amp;value={$user->id}" class="btn btn-primary btn-xs"><i class="fa fa-support"></i> Support</a>&nbsp;
                                    <a href="/auth/loginas/{$user->id}" class="btn btn-default btn-xs"><i class="fa fa-sign-in"></i> Login As</a>
                                </small>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <ul class="pager">
                    {if($page != 1)}
                    <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                    {/if}
                    {if($page < $count/$limit)}
                    <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                    {/if}
                </ul>
            </div>

        </div>
    </div>
</div>