<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Data
                            </a>
                            <a href="/manage/publishers.html" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Publishers <span class="badge">{echo Shared\Markup::nice_number(Publish::count())}</span></a>
                            <a href="/manage/advertisers.html" class="list-group-item"><i class="fa fa-bullhorn fa-2x"></i>  Advertisers <span class="badge">{echo Shared\Markup::nice_number(Advert::count())}</span></a>
                            <a href="/campaign/all.html" class="list-group-item"><i class="fa fa-file fa-2x"></i> Campaigns <span class="badge">{echo Shared\Markup::nice_number(Item::count())}</span></a>
                            <a href="/admin/search.html?model=link&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-link fa-2x"></i>  Links <span class="badge">{echo Shared\Markup::nice_number(Link::count())}</span></a>
                            <a href="/admin/search.html?model=stat&amp;key=created&amp;sign=like&amp;value={echo $now}" class="list-group-item"><i class="fa fa-check-circle-o fa-2x"></i>  Verified Clicks <span class="badge">{echo Shared\Markup::nice_number(round($total[0]["clicks"], 2))}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-money"></i> Finance
                            </a>
                            <a href="/admin/search.html?model=payment&amp;key=live&amp;sign=like&amp;value=1" class="list-group-item"><i class="fa fa-money fa-2x"></i>  Payment Done <span class="badge"> {echo $user->convert(abs($payment))}</span></a>
                            <a href="/finance/earnings.html" class="list-group-item"><i class="fa fa-exchange fa-2x"></i>  Earnings <span class="badge">{echo $user->convert(round($total[0]["earn"], 2))}</span></a>
                            <a href="#" class="list-group-item"><i class="fa fa-exchange fa-2x"></i>  Payments Received <span class="badge">{echo $user->convert(round($received, 2))}</span></a>
                            <a href="/finance/payouts.html" class="list-group-item"><i class="fa fa-bank fa-2x"></i>  Payouts <span class="badge"> {echo $user->convert(round($total[0]["earn"] - abs($payment), 2))}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Monitor
                            </a>
                            <a href="/admin/search.html?model=stat&amp;key=modified&amp;sign=like&amp;value={echo $now}" class="list-group-item"><i class="fa fa-location-arrow fa-2x"></i>  Links Tracking <span class="badge">{echo Shared\Markup::nice_number(Stat::count(array("modified LIKE ?" => "%$now%")))}</span></a>
                            <a href="/admin/search.html?model=stat&amp;key=created&amp;sign=like&amp;value={echo $now}" class="list-group-item"><i class="fa fa-database fa-2x"></i>  Stats <span class="badge">{echo Shared\Markup::nice_number(Stat::count())}</span></a>
                            <a href="/admin/search.html?model=team&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-user-secret fa-2x"></i>  Admins <span class="badge">{echo Team::count(array("live = ?" => 1))}</span></a>
                            <a href="/support/manageticket.html" class="list-group-item"><i class="fa fa-tags fa-2x"></i>  Tickets <span class="badge">{echo Ticket::count(array("live = ?" => true))}</span></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>