<div class="page-title">
    <span class="title">Ad Campaigns</span>
    <div class="description">
        We would love to help you for any queries.
        <span class="pull-right">
            <a href="/support/create.html" class="btn btn-info"><i class="fa fa-ticket"></i> Create Ticket</a>
            <a href="/support/tickets.html" class="btn btn-danger"><i class="fa fa-tags"></i> All Tickets</a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
    	<div class="card">
           <div class="card-header">
                <div class="card-title">
                    <div class="title">Account Manager</div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
           <div class="card-header">
                <div class="card-title">
                    <div class="title">News</div>
                </div>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>