{include layouts/modal/addCredit.html}
<link rel="stylesheet" href="/public/assets/css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />
<div class="row no-margin-bottom">
    <div class="col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card primary">
                    <div class="card-jumbotron no-padding">
                        <div class="text-center" id="world-map" style="max-width: 1200px; height: 270px"></div>
                    </div>
                    <div class="card-body half-padding">
                        <h4 class="float-left no-margin font-weight-300">Visitors</h4>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">
                                <i class="fa fa-bullhorn"></i> Active Campaigns
                            </div>
                        </div>
                        <div class="pull-right card-action">
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="/campaign/manage.html" class="btn btn-success">View all campaigns <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="card-body no-padding">
                        <table class="table table-responsive">
                            <tr>
                                <th>Campaign</th>
                                <th>Realtime</th>
                            </tr>
                            {foreach $item in $items}
                            <tr>
                                <td>
                                    <a href="/public/assets/uploads/images/{$item->image}" target="_blank"><img src="/campaign/resize/{echo base64_encode($item->image)}/50/50"> {echo $item->title}</a><br>
                                    <small>{echo Framework\StringMethods::datetime_to_text($item->created)}</small>
                                </td>
                                <td class="campaignstat" data-campaign="{echo $item->id}">
                                    <span class="label label-success">View</span>
                                </td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger text-center"><b><i class="fa fa-globe"></i> Realtime Today</b></li>
                        <li class="list-group-item">Sessions <span class="badge" id="today_click"><i class="fa fa-spinner fa-pulse"></i></span></li>
                        <li class="list-group-item">Average CPM <span class="badge" id="today_cpc"><i class="fa fa-spinner fa-pulse"></i></span></li>
                        <li class="list-group-item">Spent(INR) <span class="badge" id="today_spent"><i class="fa fa-spinner fa-pulse"></i></span></li>
                        
                        <li class="list-group-item list-group-item-warning text-center"><b><i class="fa fa-check-circle"></i> Campaign Stats Total</b>
                            <a href="#" class="btn btn-xs badge" download="" data-toggle="tooltip" data-placement="top" title="Your Complete Earning Report"><i class="fa fa-download"></i> Report</a>
                        </li>
                        <li class="list-group-item">Sessions <span class="badge">0</span></li>
                        <li class="list-group-item">Average RPM <span class="badge">0</span></li>
                        <li class="list-group-item">Earnings <span class="badge">0</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-success">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success text-center"><b><i class="fa fa-support"></i> Account</b></li>
                        <li class="list-group-item">Total Links <span class="badge">{echo Shared\Markup::nice_number(Link::count(array("user_id = ?" => $user->id)))}</span></li>
                        <li class="list-group-item">Links Tracked <span class="badge">{echo Shared\Markup::nice_number(Stat::count(array("user_id = ?" => $user->id)))}</span></li>
                        <li class="list-group-item">Platforms Added <span class="badge">{echo Shared\Markup::nice_number(Platform::count(array("user_id = ?" => $user->id)))}</span></li>
                        
                        <li class="list-group-item list-group-item-info text-center"><b><i class="fa fa-money"></i> Finace</b></li>
                        <li class="list-group-item">Total <span class="badge currency"> {echo $user->convert($earn)}</span></li>
                        <li class="list-group-item">Paid <span class="badge currency"> {echo $user->convert(abs($paid))}</span></li>
                        <li class="list-group-item">Balance <span class="badge currency"> {echo $user->convert($advert->balance)}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Last 7 Days Spent
                    </div>
                    <div class="panel-body">
                        <div id="finstats"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{echo CDN}plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="{echo CDN}plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript">
$(function() {
    campaigns();
});
</script>
