<div class="page-title">
    <span class="title">
        Platforms
        {if isset($url)}
        <span class="pull-right"><a href="{echo $url}" class="btn btn-danger btn-sm"><i class="fa fa-google"></i> Add Platform</a></span>
        {/if}
    </span>
    <div class="description">All Different Platforms you own</div>
</div>
<div class="row">
    <div class="col-lg-12">{if isset($message)}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {$message}
        </div>
        {/if}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Website</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $a in $access}
                {script $website = Website::first(["id = ?" => $a->property_id])}
                    <tr>
                        <td>{echo $website->gaid}</td>
                        <td>{echo $website->url}</td>
                        <td>{echo $website->campaign()}</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
