<div class="jumbotron app-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {if(isset($message))}<div class="alert fresh-color alert-info" role="alert">{echo $message}</div>{/if}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title text-center">
                            <div class="title">Advertiser Register</div>
                        </div>
                    </div>
                    <form class="card-body form-horizontal" method="post" action="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" placeholder="Full Name" required="">
                                <span class="help-block">{echo Shared\Markup::errors($errors, "name")}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" placeholder="Primary Email" required="">
                                <span class="help-block">{echo Shared\Markup::errors($errors, "email")}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="tel" name="phone" class="form-control" placeholder="Phone Number" required="">
                                <span class="help-block">{echo Shared\Markup::errors($errors, "phone")}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Platform</label>
                            <div class="col-sm-10">
                                <input type="url" name="url" class="form-control" placeholder="Website or App Link" required="">
                                <span class="help-block">{echo Shared\Markup::errors($errors, "url")}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <div class="checkbox3 checkbox-round checkbox-check checkbox-light">
                                    <input type="checkbox" checked=""> I agree to Clicks99 <a href="/termsofservice.html">Terms and Conditions</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <input type="hidden" name="action" value="register">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
</script>
